@model List<mvcGooglemapDb1.Context.tbl_Employee>
@{
    ViewBag.Title = "EmployeeList";
}

<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>City</th>
        <th>State</th>
        <th>Pincode</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Description</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.City</td>
            <td>@item.State</td>
            <td>@item.Pincode</td>
            <td>@item.Latitude</td>
            <td>@item.Longitude</td>
            <td>@item.Description</td>
              <td>@item.Name</td>
            <td>
                <a href="@Url.Action("Employee",new { item.ID,item.Name,item.City,item.State,item.Pincode,item.Latitude,item.Longitude,item.Description})" class="btn btn-success">Edit</a>
                <a href="@Url.Action("Delete",new { item.ID})" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }

</table>


